{% extends "layout.html" %} {% block title %}Fakerservice{% endblock %} {% block content %}
<nav class="nav" tabindex="-1" onclick="this.focus()">
    <div class="container">
        <a class="pagename current" href="http://fakerservice.com/apidocs/#/default">API Documentation</a>
        <a href="#">About</a>
        <a href="#">Whoami</a>
    </div>
</nav>
<button class="btn-close btn btn-sm">×</button>
<div class="container">
    <div class="hero">
        <h2>Fakerservice</h2>
        <p>A webservice to help you get the fake data you need.</p>
		<p>This is an implementation of the Python version of Faker.</p>
		<p>Check out the documentation for available endpoints.</p>
    </div>
</div>
{% endblock %}