{% extends "layout.html" %} {% block title %}Whoami{% endblock %} {% block content %}
 <button class="btn-close btn btn-sm">×</button>
<div class="container">
    <div class="hero">
        <h2>Whoami</h2>
		<p>I'm Michael, a Python enthusiast and data engineer / backend developer.</p>
		<p>My code lives <a href=https://github.com/michaelkunc> here. </a></p>
		<p>My tweets live <a href=https://twitter.com/teamkoontz> here. </a></p>
		<p>I live in Los Angeles.</p>		
    </div>
</div>
{% endblock %}

